<div class="container-fluid">
  <p>
    servers works!
  </p>

  <button class="btn btn-primary" [disabled]="serverName===''" (click)="onAddServer(serverNameInputLocalRef);serverName=''">
    Add server
  </button>

  <input type="text" [(ngModel)]="serverName" #serverNameInputLocalRef/>

  <br/> LocalRef value - {{serverNameInputLocalRef.value}}
  <br/> Local ref from @ViewChild {{this.nameInput.nativeElement.value}}

  <div [ngStyle]="{'background-color':getColor()}">
    <p [ngClass]="{online: serverCreated === true}" *ngIf="serverCreated; else noServerMarker" [innerText]="serverCreatedStatus"></p>
    <ng-template #noServerMarker>
      <p>No servers created</p>
    </ng-template>
  </div>


  <!--<p *ngFor="let server of serversList">{{server}}</p>-->


</div>