<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!!
    </h1>
  </div>

  <h1>New Componenet</h1>
  <app-servers (createServerEvent)="OnServerAdded($event)"></app-servers>


  <app-server *ngFor="let server of serversList" [serverElem]="server"></app-server>


  <p appBasicHighlight>Basic attribute directive</p>

  <p appBetterHighlite [highligtColor]="'red'" [defaultColor]="'green'">Basic attribute directive</p>

  <p *appUnless="unlessValue">Unless custom structural directive</p>

</div>